# Название, логин и пароль для БД postgres
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Данные для подключения к БД
DB_HOST=db
DB_PORT=5432

# Переменные Django
# ПРЕДУПРЕЖДЕНИЕ: Хранить секретный ключ не должен попадать в общий доступ
SECRET_KEY=secret_key
# ПРЕДУПРЕЖДЕНИЕ: Debug = true использовать только при разработке
DEBUG=True
# Список разрешенных хостов
ALLOWED_HOSTS='localhost 127.0.0.1'
# Для создания суперпользователя без ввода в консоль
DJANGO_SUPERUSER_FIRST_NAME=Админ
DJANGO_SUPERUSER_LAST_NAME=Админ
DJANGO_SUPERUSER_ROLE=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.ru
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_PHONE=+79991112233


# Переменные бота
# Токен для подключения к Telegram API
TELEGRAM_TOKEN=token
