{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<main class="mx-auto p-2" align="center" style="max-width: 550px">
  <div class="card">
    <h2 class="card-header">
      Вы уверены, что хотите оставить заявку на отмену занятия?
    </h2>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn main-button danger-button second-button">Уверен?</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Закрыть</button>
    </form>
  </div>
</main>
{% endblock content %}
