<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Телеграм-бот для преподавателей и учеников</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
  </head>
  <body>
    {% include "registration/header.html" %}
    <table class="table table-bordered text-center align-middle mt-4" align="center" style="max-width: 850px;">
      {% block content %}{% endblock %}
    </table>
  </body>
</html>
