{% extends "registration/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="accordion" id="accordionExample">
  <h2 class="accordion-header accordion-title" align="center">
    Расписание уроков
  </h2>
  <div class="accordion-item" style="border-radius: 0">
    <h3 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Понедельник
      </button>
    </h3>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table text-center table-bordered align-middle">
          <thead class="table-primary">
            <tr>
              <th scope="col">Время</th>
              <th scope="col">Предмет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-nowrap">8.15 - 8.55</td>
              <td>Русский язык <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">9.15 - 9.55</td>
              <td>Литература <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.15 - 10.55</td>
              <td>Физкультура <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.55 - 11.05</td>
              <td class="table-info">Перерыв на завтрак</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.05 - 11.45</td>
              <td>Математика <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.55 - 12.35</td>
              <td>Занятие 5</td>
            </tr>
            <tr>
              <td class="text-nowrap">12.45 - 13.25</td>
              <td>Занятие 6</td>
            </tr>
            <tr>
              <td class="text-nowrap">13.25 - 13.45</td>
              <td class="table-info">Перерыв на обед</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h3 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Вторник
      </button>
    </h3>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table text-center table-bordered align-middle">
          <thead class="table-primary">
            <tr>
              <th scope="col">Время</th>
              <th scope="col">Предмет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-nowrap">8.15 - 8.55</td>
              <td>Русский язык <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">9.15 - 9.55</td>
              <td>Литература <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.15 - 10.55</td>
              <td>Физкультура <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.55 - 11.05</td>
              <td class="table-info">Перерыв на завтрак</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.05 - 11.45</td>
              <td>Математика <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.55 - 12.35</td>
              <td>Занятие 5</td>
            </tr>
            <tr>
              <td class="text-nowrap">12.45 - 13.25</td>
              <td>Занятие 6</td>
            </tr>
            <tr>
              <td class="text-nowrap">13.25 - 13.45</td>
              <td class="table-info">Перерыв на обед</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h3 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Среда
      </button>
    </h3>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table text-center table-bordered align-middle">
          <thead class="table-primary">
            <tr>
              <th scope="col">Время</th>
              <th scope="col">Предмет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-nowrap">8.15 - 8.55</td>
              <td>Русский язык <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">9.15 - 9.55</td>
              <td>Литература <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.15 - 10.55</td>
              <td>Физкультура <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.55 - 11.05</td>
              <td class="table-info">Перерыв на завтрак</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.05 - 11.45</td>
              <td>Математика <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.55 - 12.35</td>
              <td>Занятие 5</td>
            </tr>
            <tr>
              <td class="text-nowrap">12.45 - 13.25</td>
              <td>Занятие 6</td>
            </tr>
            <tr>
              <td class="text-nowrap">13.25 - 13.45</td>
              <td class="table-info">Перерыв на обед</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h3 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Четверг
      </button>
    </h3>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table text-center table-bordered align-middle">
          <thead class="table-primary">
            <tr>
              <th scope="col">Время</th>
              <th scope="col">Предмет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-nowrap">8.15 - 8.55</td>
              <td>Русский язык <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">9.15 - 9.55</td>
              <td>Литература <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.15 - 10.55</td>
              <td>Физкультура <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.55 - 11.05</td>
              <td class="table-info">Перерыв на завтрак</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.05 - 11.45</td>
              <td>Математика <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.55 - 12.35</td>
              <td>Занятие 5</td>
            </tr>
            <tr>
              <td class="text-nowrap">12.45 - 13.25</td>
              <td>Занятие 6</td>
            </tr>
            <tr>
              <td class="text-nowrap">13.25 - 13.45</td>
              <td class="table-info">Перерыв на обед</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h3 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Пятница
      </button>
    </h3>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table text-center table-bordered align-middle">
          <thead class="table-primary">
            <tr>
              <th scope="col">Время</th>
              <th scope="col">Предмет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-nowrap">8.15 - 8.55</td>
              <td>Русский язык <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">9.15 - 9.55</td>
              <td>Литература <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.15 - 10.55</td>
              <td>Физкультура <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.55 - 11.05</td>
              <td class="table-info">Перерыв на завтрак</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.05 - 11.45</td>
              <td>Математика <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.55 - 12.35</td>
              <td>Занятие 5</td>
            </tr>
            <tr>
              <td class="text-nowrap">12.45 - 13.25</td>
              <td>Занятие 6</td>
            </tr>
            <tr>
              <td class="text-nowrap">13.25 - 13.45</td>
              <td class="table-info">Перерыв на обед</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h3 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Суббота
      </button>
    </h3>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table text-center table-bordered align-middle">
          <thead class="table-primary">
            <tr>
              <th scope="col">Время</th>
              <th scope="col">Предмет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-nowrap">8.15 - 8.55</td>
              <td>Русский язык <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">9.15 - 9.55</td>
              <td>Литература <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.15 - 10.55</td>
              <td>Физкультура <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">10.55 - 11.05</td>
              <td class="table-info">Перерыв на завтрак</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.05 - 11.45</td>
              <td>Математика <br> (Киселёва И.А.) <br> каб.психологии</td>
            </tr>
            <tr>
              <td class="text-nowrap">11.55 - 12.35</td>
              <td>Занятие 5</td>
            </tr>
            <tr>
              <td class="text-nowrap">12.45 - 13.25</td>
              <td>Занятие 6</td>
            </tr>
            <tr>
              <td class="text-nowrap">13.25 - 13.45</td>
              <td class="table-info">Перерыв на обед</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}