{% extends "registration/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="card" style="max-width: 550px">
      <div class="card-header">
        <p>
          Данные успешно отправлены.
        </p>
      </div>
    </div>
    <script type="text/javascript">
      Telegram.WebApp.ready();
      Telegram.WebApp.MainButton.setText('Отлично!').show().onClick(function () {
          const data = JSON.stringify({success: true});
          Telegram.WebApp.sendData(data);
          Telegram.WebApp.close();
      });
    </script>
{% endblock %}
