.logo {
  width: 100%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: transparent;
}

.accordion-button {
  background-color: #fff;
  box-shadow: none;
}

.accordion-button:hover,
.accordion-button:focus {
  box-shadow: none;
}

.accordion-title {
  font-size: 1.5rem;
  padding: 1rem 1.25rem;
  background-color: #cfe2ff;
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  overflow: hidden;
}

.btn-group:hover {
  background-color: #cfe2ff;
}

.btn-group:active {
  background-color: #a6c8fc;
}

.btn-group:focus-visible {
  background-color: #a6c8fc;
  border: none;
}

.btn-previous-week,
.btn-next-week,
.main-button {
  background-color: #cfe2ff;
  border: none;
  color: black;
  padding: 10px 5px;
  text-decoration: none;
}

.btn-previous-week:hover,
.btn-next-week:hover,
.main-button:hover {
  background-color: #a6c8fc;
  color: black;
}

.main-button:disabled {
  background-color: #e2e3e5;
  color: #9fa0a1;
}

.following-week {
  background-color: #e2e3e5;
  text-align: center;
  padding: 10px 5px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
}

.danger-button {
  background-color: #ffcfcf;
}

.danger-button:hover {
  background-color: #fca6a6;
}

.btn-lg {
  width: 100%;
}