/* Растягиваем таблицу и добавляем горизонтальный скроллинг */
.change-list table {
    width: max-content; /* Таблица займет столько места, сколько нужно */
    min-width: 100%; /* Минимальная ширина — 100% */
}

.change-list .results {
    overflow-x: auto; /* Добавляем горизонтальный скроллинг */
    display: block; /* Позволяет прокручивать */
    white-space: nowrap; /* Запрещает перенос строк внутри ячеек */
}