{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Телеграм-бот для преподавателей и учеников</title>
    {% load django_bootstrap5 %} {% bootstrap_css %}
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link href="{% static 'styles/accordion-schedule.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="./table_button.css" rel="stylesheet">
  </head>
  <body>
    {% include "schedule/includes/header.html" %}
  
    {% block content %}
    {% endblock content %}

    {% include "schedule/includes/footer.html" %}

    {% bootstrap_javascript %}
    <script src="{% static 'scripts/accordion-schedule.js' %}"></script>
  </body>
</html>