{% extends "schedule/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
	<h2 align="center">Понедельник</h2>
	{% include "schedule/day_schedule.html" with schedule_day=schedule_mon %}
	<br>
	<h2 align="center">Вторник</h2>
	{% include "schedule/day_schedule.html" with schedule_day=schedule_tue %}
	<br>
	<h2 align="center">Среда</h2>
	{% include "schedule/day_schedule.html" with schedule_day=schedule_wed %}
    <br>
	<h2 align="center">Четверг</h2>
	{% include "schedule/day_schedule.html" with schedule_day=schedule_thu %}
    <br>
	<h2 align="center">Пятница</h2>
	{% include "schedule/day_schedule.html" with schedule_day=schedule_fri %}
    <br>
	<h2 align="center">Суббота</h2>
	{% include "schedule/day_schedule.html" with schedule_day=schedule_sat %}
    <br>
	<h2 align="center">Воскресение</h2>
	{% include "schedule/day_schedule.html" with schedule_day=schedule_sun %}
    <br>
	<div align="center">
		{% bootstrap_button onclick="webviewClose()" content="Вернутся в чат" %}
	</div>
{% endblock %}
