<div align="center" class="table-wrapper">
    <table style="border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border: 1px solid black;" width=300>Предмет</th>
                <th style="border: 1px solid black;" width=300>Время</th>
            </tr>
        </thead>
        <tbody>
            {% if not schedule_day %}
            <tr>
                <td colspan="2" style="border: 1px solid black;">
                    <h3 align="center">Занятий нет</h3>
            {% else %}
                {% for lesson in schedule_day %}
                    <tr>
                        <td style="border: 1px solid black;" align="center">
                            <p>
                                {{ lesson.name }}
                                <br>
                                <h3>{{ lesson.subject }}</h3>
                                <br>
                                {% if role == 'Student' %}
                                    {{ lesson.teacher_id }}
                                {% else %}
                                    {{ lesson.student_id }}
                                {% endif %}
                            </p>
                        </td>
                        <td style="border: 1px solid black;" align="center">
                            {{ lesson.datetime_start.time }} - {{ lesson.datetime_end.time }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
