[Unit]

Description=goodstart_telegram_bot
Requires=docker.service
After=docker.service

[Service]

Restart=always
RestartSec=5
TimeOutStartSec=1200
User=dev

WorkingDirectory=/home/dev/Goodstart_telegram_bot/infra/stage/

# Выполняет pull образов с Docker Hub
ExecStartPre=docker-compose -f docker-compose.stage.yaml pull

# Перезапускает все контейнеры в Docker Compose
ExecStartPre=docker-compose -f docker-compose.stage.yaml down
ExecStart=docker-compose -f docker-compose.stage.yaml up -d

# Выполняет удаление старых образов
ExecStartPost=docker system prune --force

[Install]

WantedBy=multi-user.target
